html,
body,
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
a {
  font-family: "Kanit", sans-serif;
}

.yii-debug-toolbar:not(.yii-debug-toolbar_active) .yii-debug-toolbar__bar,
.yii-debug-toolbar.yii-debug-toolbar_animating .yii-debug-toolbar__bar {
  height: 40px;
  display: none;
}

.leaflet-control-layers section {
  padding-top: 1em !important;
  padding-bottom: 1em !important;
}
.leaflet-container {
  font-family: "Kanit", sans-serif !important;
}

.logo-support {
  height: 3em;
  width: auto;
  margin: 0em 0.5em;
}

.logo-footer {
  height: 5.5em;
  width: auto;
}
.footer-logo {
  display: flex;
}
.logo {
  height: 7em;
  margin-right: 2em;
}

.min-w-7 {
  min-width: 7em;
}

.logoName {
  font-size: 0.5em !important;
}

.img-box-news {
  height: 17em;
  object-fit: cover;
}

.img-sm-box {
  height: 6em;
  object-fit: cover;
}

.img-md-box {
  height: 23em;
  object-fit: cover;
}

.img-lg-box {
  height: 30em;
  object-fit: cover;
}

.mr-1-custom {
  margin-right: 1em;
}

.wrap-footer-address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #ccc;
}
.color-footer {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(149, 211, 243, 0.7234244039412641) 94%
  ) !important;
}

.wrap-address {
  padding-left: 2em;
}

.footer-address {
  padding: 30px;
  display: flex;
  align-content: center;
}

.label {
  font-weight: 700;
}

.address {
  margin-bottom: 0.5em;
}

.bg-banner {
  position: relative;
}

.bg-banner::before {
  content: "";
  background: url(../img/bg-badge/5.png) no-repeat;

  background-size: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
  z-index: -1;
}

.bg-banner-left::before {
  transform: scaleX(-1);
  left: -10em;
}

.lottie-bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.gradient {
  background: rgb(59, 157, 213);
  background: linear-gradient(
    90deg,
    rgba(59, 157, 213, 1) 0%,
    rgba(51, 169, 236, 1) 35%,
    rgba(7, 72, 143, 1) 100%
  );
}

.head-badge {
  position: relative;
}

.head-badge::before {
  content: "";
  background: url(../img/bg-badge/b3.png) no-repeat;
  background-position: 100% 100%;
  background-size: cover;
  position: absolute;
  top: -26px;
  right: -2em;
  width: 46px;
  height: 48px;
}

.head-title-custom {
  position: absolute;
  top: 40px;
  margin-left: 20px;
}

.banner .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.banner .swiper-container .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.banner .swiper-container .swiper-wrapper {
  max-height: 46em;
  height: auto !important;
}

.banner .swiper-button-next,
.banner .swiper-button-prev {
  background-position: 50%;
  background-color: rgba(51, 51, 51, 0.5);
  box-shadow: 0 3px 4px rgb(0 0 0 / 12%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  color: #fff;
}

.banner .swiper-button-next:hover,
.banner .swiper-button-prev:hover {
  background-color: rgba(51, 51, 51, 0.9);
  transition: background-color 0.3s ease-out;
}

.banner .swiper-pagination-bullet-active {
  opacity: 1;
  background: #ffffff !important;
}

.body-content-custom {
  padding-top: 80px;
}

@media only screen and (max-width: 595px) {
  .body-content-custom {
    padding-top: 110px;
  }
}

/* Overwrite Css */
.hover-animate:hover,
.hover-animate:focus {
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -20px, 0) !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.nav-active {
  color: rgba(0, 0, 0, 0.9) !important;
  background: #fff;
  border-radius: 6px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #2b96da !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #2b96da !important;
}

.shadow {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 40%) !important;
}

.text-primary {
  color: #39a1dc !important;
}

.text-secondary {
  color: #dec176 !important;
}

.btn-primary {
  background-color: #39a1dc !important;
  border-color: #39a1dc !important;
}

.btn-outline-primary {
  color: #39a1dc !important;
  border-color: #39a1dc !important;
}

.btn-outline-primary:hover {
  color: #fff !important;
  background-color: #39a1dc !important;
  border-color: #39a1dc !important;
}

.btn-link {
  color: #39a1dc !important;
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff !important;
  background-color: #39a1dc !important;
  border-color: #39a1dc !important;
}

.page-link {
  color: #39a1dc !important;
}
